SEBPAY_PUBLIC_KEY=pk_live_...
SEBPAY_SECRET_KEY=sk_live_...
SEBPAY_API_BASE=https://newapi.sebpay.bj/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WHATSAPP_NUMBER=237675455491
